
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Imagenes/d.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    filter: saturate(100%) contrast(800%) brightness(90%);
}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
    height: 40vh;
}


body::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.login-form {
  
    padding: 10px;
    border-radius: 25px;

    text-align:center;
    max-width: 400px;
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 80px;
    
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

label[for="cedula"],
label[for="contrasena"] {
    color: white;
}


.login-form select {
    margin-bottom: 10px; 
}

.login-form button {
    background-color: #E02E45;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
